* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(40, 51, 68);
}

.pagetitle {
    color: white;
    font-size: 80px;
    text-align: center;
    padding: 36px 0 30px 0 ;
}

.container-boxes {
    margin: 0 auto;
    width: 1000px;
    flex-wrap: wrap;
    display: flex;
}

.box {
    text-align: center;
    line-height: 130px;
    width: calc(100% / 7 - 12px);
    background-color: cadetblue;
    margin: 6px;
    height: 130px;
    font-weight: 600;
}

.box-crimson {
    background-color: crimson;
}

.box-tiffany {
    background-color: aqua;
}

.box-yellow {
    background-color: rgb(255, 217, 0);
}